# Environment variables
.env

# Python
__pycache__/
*.pyc

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Docker
*.log
*.pid
*.sock
*.swp
docker-compose.override.yml

# Node.js
frontend/node_modules/
frontend/.env
